body{
    background-color: peachpuff;
}

#header{
    text-align: center;
    margin: 0 auto;
    width: 770px;
    height: auto;
    padding: auto;
}   

.grid{
    border: 20px solid rgb(30, 255, 0);
    background-color: black;
    padding: 50px;
    
    display: flex;
    width: 750px;
    height: 750px;
    margin: 0 auto;
    justify-content: space-between;
    background-color: rgb(9, 8, 8);
    flex:1 1 0;
}
.rowCell{
    border: 2px solid rgb(0, 0, 0); 
    width:auto;
    background-color: brown;
    height:100% /*  This makes the cell!! */

}
.colCell{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 100%;
    justify-content: space-between;
}

