@import url('https://fonts.cdnfonts.com/css/new-pizza');

                
body{
    background-color:  black;
    font-family: 'New Pizza', sans-serif;
                                                
}


.container{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px; 
  padding-right: 25%;

    
}

#controlHeader{
    text-align: center;
    color: purple;
    
}

.buttons{

    gap: 16px;
    display:flex;
    flex-direction: column;

}
.controlsContainer{
    padding-left: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    width: 200px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
    
}
#header{
    font-size: 40px;
    
    color: purple;
    text-align: center;
    margin: 0 auto;
    width: 770px;
    height: auto;
    padding: auto;
}   

.grid{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    width: 660px;
    display: flex;
    height: 500px;
    border-radius: 5px;
    justify-content: space-between;
 
}
.rowCell{
    /*border: 2px solid rgb(0, 0, 0);*/ 
    width:auto;
    background-color: black;
    border: 1px solid white;
    height:100% /*  This makes the cell!! */

}
.colCell{
    display: flex;
    flex-direction: column;
   /* border: 2px solid black;*/
    width: 100%;
    justify-content: space-between;
}

.sliderContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    

}
.sliderText{
    text-align: center;
    color:purple;
    
    font-size: 15px;

}
.slider{
    width: 100%; 
    height: 35px;    
    
}



  
 /* By default, the WebKit browsers render the thumb so that it is not centered on the track.

  In order to properly center the thumb use the following formula and apply it to the margin-top property:
margin-top = (track height in pixels / 2) - (thumb height in pixels /2)
*/

input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 100%;
 }
 
 /* Removes default focus */
 input[type="range"]:focus {
   outline: none;
 }
 
 
 /* slider track */
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: purple;
    border-radius: 25px;
    height: 0.5rem;  
 }
 input[type="range"]::-moz-range-track {
    background-color: purple;
    border-radius: 0.5rem;
    height: 0.5rem;
 }
 
 /* slider thumb */
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 25px;
 }

 input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -4px; /* Centers thumb on the track */
 
    /*custom styles*/
    background-color: white;
    height: 1rem;
    width: 1rem;
    border-radius: 25px;
 }
 
 
 input[type="range"]:focus::-webkit-slider-thumb {   
    border: none;
    outline: none;
    border-radius: 25px;
 }
  
 /* slider thumb */
 
 input[type="range"]:focus::-moz-range-thumb {
   border: none;
   outline: none;
   border-radius: 25px;
 }
 
 


#colorpicker{
    appearance: none;
    background-color: transparent;
    border: none;
    
    height: 111px;
    width:160px;
    padding-left: 25%;
}


#colorpicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}
#colorpicker::-moz-color-swatch {
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
}

.controlButtons{
    background-color: purple;
    color: rgb(255, 255, 255);
    border-radius: 25px;
    font-family: 'New Pizza', sans-serif; ;

}
#reset.controlButtons{
    background-color: black;
    color: purple;
}   
footer{
    color: rgb(255, 255, 255);
    text-align: center;
    position: absolute;
    bottom: 0;
    padding-left: 50%;
    font-family: sans-serif;
    
}